body {
  font-family: var(--font-family-base);
  overflow-x: hidden;
  font-size: 16px;
  scroll-margin: 100px 0 0 0;
  word-break: break-word;
}

h2 {
  margin-bottom: space(2);
  margin-top: space(4);
  font-size: 28px;
  font-weight: 900;
  color: var(--color-white);
  line-height: 1.5em;
}

p {
  margin-top: space(2);
  margin-bottom: space(2);
}

img {
  max-width: 100%;
  height: auto;
}
