@import "../tools/functions";

.offer-item {
  padding-top: space(4);
  padding-bottom: space(4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 16px;

  @media (min-width: 600px) {
    text-align: center;
    align-items: center;
    font-size: 14px;
  }

  .wp-block-columns .wp-block-column & {
    height: 100%;
  }

  &__text {
    flex: 1;
    margin-bottom: space(2);
  }

  &__top {
    flex: none;

    @media (max-width: 600px) {
      margin-bottom: space(3);
      display: flex;
      align-items: center;
      text-align: left;
    }
  }

  &__image {
    @media (max-width: 600px) {
      width: 88px;
      height: 88px;
      margin-right: space(2);
    }
  }

  &__title {
    color: var(--color-white);
    font-size: 20px;
    margin-top: space(1);
    margin-bottom: space(1);

    @media (max-width: 769px) {
      margin-top: space(2);
    }
  }

  &__cta {
    flex: none;
    margin-top: auto;

    a {
      color: var(--color-dark);
      font-weight: 600;
      font-size: 16px;
      display: inline-flex;
      background-color: var(--color-orange);
      position: relative;
      padding: 8px 16px;
      transition: all 250ms ease-in-out;
      text-decoration: none;

      &:hover {
        background-color: var(--color-oranger);
        color: var(--color-white);
      }
    }
  }
}
